---
import {GenerationsView} from "../components/generations/GenerationsView";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Generowanie Fiszek AI'>
  <div class='py-8'>
    <h1 class='text-4xl font-bold mb-8'>Generowanie Fiszek AI</h1>
    <GenerationsView client:only='react' />
  </div>
</Layout>
